@charset "utf-8";
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border:none;
}
.sticky {

}
.gallery-caption {

}
#wrapper-page embed, object, iframe, img {
	max-width:100%;
	height:auto;
}
/*Default CSS*/
body {
	font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3a3a3a;
}
.clear {
	clear:both;
}
.float-right {
	float:right;
}
.float-left {
	float:left;
}
#wrapper-page a, a:visited {
	color: #15b615;
	text-decoration: none;
}
#wrapper-page a:hover {
	color: #15b615;
	text-decoration: underline;
}
#wrapper-page dt {
	font-weight: bold;
	line-height:24px;
}
#wrapper-page dd {
	margin: 0 1.5em 1.5em;
	line-height:24px;
}
#wrapper-page table {
	margin: 0 0 1.5em;
	width: 100%;
}
#wrapper-page th {
	font-weight: 600;
	padding: 12px 20px;
	color: #15b615;
	text-align:left;
	background-color:#f0f0f0;
}
.gray-bg {
	background-color:#f0f0f0;
}
#wrapper-page tr {
	vertical-align: middle;
}
#wrapper-page td {
	padding: 7px 20px;
	vertical-align:middle;
	line-height:22px;
	color:#3a3a3a;
}
/*pre {
	white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}*/
.meta-linke a {
	color: #555;
	text-decoration:none;
	line-height:24px;
}
.meta-linke a:hover {
	color: #15b615;
}
#wrapper-page address {
	line-height:24px;
	margin-bottom:10px;
}
#wrapper-page img {
	max-width:100%;
	height:auto;
}
/*div, input {
	-webkit-transition: all 0.5s, color 0.5s, box-shadow 0.5s;
	-moz-transition: all 0.5s, color 0.5s, box-shadow 0.5s;
	transition: all 0.5s, color 0.5s, box-shadow 0.5s;

}*/
/*#wrapper * {
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}*/
.bold-text {
	font-weight:600;
}
#wrapper-container {
	background-color: #f1f1f1;
	padding-top: 55px;
	margin-top: 50px;
}
#wrapper-page.wrapper {
	/*width: 1170px;*//*CHANGE*/
	margin-right: auto;
	margin-left: auto;
}
#products-area {
}
.product {
	float: left;
	width: 23%;
	margin-right: 2.6%;
	padding-bottom: 50px;
}
.product-image {
	text-align: center;
	margin-bottom: 20px;
}
.product h4 {
	color: #444444;
	font-weight: 600;
	height: 40px;
	line-height: 1.3;
	font-size: 14px;
}
.product h4 a {
	color: #444444 !important;
	font-weight: 600;
	height: 40px;
	line-height: 1.3;
	font-size: 14px;
	text-decoration:none !important;
}
.product h4 a:hover {
	color:#15b615 !important;
}
.product h6 {
	color: #444444;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: normal;
}
.price-area {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dadada;
	border-right-color: #dadada;
	border-bottom-color: #dadada;
	border-left-color: #dadada;
	padding-top: 15px;
}
.price-area .amount {
	float: left;
	font-size: 18px;
	font-weight: 600;
	color: #15b615;
}
.price-area .amount a {
	text-decoration:none;
}
.price-area .zoom-icon {
	float: right;
	margin-top: 1px;
}
.price-area .zoom-icon a {
	text-decoration:none;
}
.product:nth-child(4n+4) {
	margin-right:0%;
}
#product-searching-area {
	background-color: #f8f8f8;
	padding-top: 12px;
	padding-right: 40px;
	padding-bottom: 12px;
	padding-left: 40px;
	margin-bottom:50px;
}
.search-heading {
	color: #444444;
	font-size: 14px;
	float: left;
	padding-top: 10px;
	width: 10%;
}
.select-option {
	width: 12%;
	float: left;
	margin-right: 2%;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	color: #929292;
	font-size: 12px;
	line-height: 12px;
	padding-left: 1%;
	height: 30px;
	-webkit-appearance: none;
	background-image: url(arrow-down.png);
	background-repeat: no-repeat;
	background-position: 96% center;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}
.submit-search {
	background-color: #15b615;
	border: 1px solid #15b615;
	font-size: 14px;
	line-height: 14px;
	color: #ffffff;
	height: 30px;
	width: 15%;
	text-align: center;
	cursor: pointer;
	float: right;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}
.submit-search:hover {
	background-color:#17c617;
}
#single-house-area {
}
.house-information {
	margin-bottom: 50px;
}
.property-info {
	float: right;
	width: 48.7%;
}
.house-images-area {
	float: left;
	width: 48.7%;
}
#wrapper-page {
	margin-top: 50px;
	margin-bottom: 50px;
}
.house-big-image {
	margin-bottom: 20px;
}
.house-small-images {
}
.house-small-images img {
	margin-right: 12px;
	margin-bottom: 8px;
	float:left;
}
.house-small-images img:nth-child(3n+3) {
	margin-right: 0px;
}.property-info h2 {
	font-size: 32px;
	font-weight: 600;
	color: #3b3b3b;
	line-height: normal;
	margin-top: 0px !important;
}
.property-info h3 {
	font-size: 20px;
	font-weight: 600;
	color: #15b615;
	line-height: normal;
	margin-bottom: 0px;
	margin-top: 0px;
}
.black-line {
	background-image: url(line-h.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 1px;
}
.property-content {
	margin-bottom: 30px;
}
.property-content h5 {
	font-size: 16px;
	line-height: normal;
	font-weight: 600;
	color: #252525;
	margin-bottom: 20px;
	margin-top:10px;
}
.property-content p {
	font-size: 14px;
	color: #3a3a3a;
	line-height: 24px;
	margin-bottom: 25px;
}
.p-top {
	padding-top:15px;
}
.listing-property {
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	margin-bottom:50px;
}
.listing-property li {
	background-image: url(list-bg.png);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 18px;
	margin-bottom: 14px;
}
.table-col-one {
	width:20%;
}
.table-col-two {
	width:15%;
}
.table-col-three {
	width:10%;
}
.table-col-four {
	width:45%;
}
.socials-icons {
	padding-top: 30px;
	padding-bottom: 30px;
}
.p-bot {
	margin-bottom:40px;
}
#map-area {
	position: relative;
	margin-top:45px;
}
#map-area .map-links {
	position: absolute;
	left: 0px;
	bottom: 20px;
	background-color: #15b615;
	color: #ffffff;
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	padding-top: 12px;
	padding-right: 37px;
	padding-bottom: 12px;
	padding-left: 27px;
	text-transform: uppercase;
	-webkit-transition: all 0.5s, color 0.5s, box-shadow 0.5s;
	-moz-transition: all 0.5s, color 0.5s, box-shadow 0.5s;
	transition: all 0.5s, color 0.5s, box-shadow 0.5s;
}
#map-area .map-links:hover {
	background-color:#17c617;
	color:#FFF;
	text-decoration:none;
}
#contact-form-area {
	background-color: #15b615;
	padding: 35px;
	color: #fff;
}
.form-title {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}
#contact-form-area p {
	font-size: 12px;
	color: #f6f6f6;
	line-height: 18px;
	margin-bottom: 25px;
}
#contact-form-property {
	padding-top: 20px;
}
#contact-form-property .input-form {
	font-size: 14px;
	color: #444444;
	height: 35px;
	width: 23.75%;
	margin-right: 1%;
	padding-left: 1.5%;
	background-color: #fff;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}
#contact-form-property .textarea-form {
	font-size: 14px;
	line-height: 14px;
	color: #444444;
	height: 135px;
	width: 98%;
	padding-left: 1.5%;
	background-color: #fff;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top:12px;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}
.submit-form-button {
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
	color: #ffffff;
	background-color: #f46620;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 20px;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}
.submit-form-button:hover {
	background-color:#ff681e;
}
.white-line {
	background-image: url(white-line.jpg);	
}
input, textarea {
	outline:none;
}
#contact-form-property .input-last {
	margin-right:0px;
}

.da-thumbs {
	list-style: none;
	position: relative;
	padding: 0;
}
.da-thumbs li {
}
.da-thumbs li a {
	display: block;
	position: relative;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: #15b615;
	background-color: rgba(21,182,21,0.8);
	color: rgba(21,182,21,0.8);
	width: 100%;
	height: 100%;
}
.da-thumbs li a div span {
	display: block;
	text-align:center;
	padding-top:30%;
}
.da-thumbs li:nth-child(3n+3){
	margin-right: 0px;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 100500;
	style="filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#page-preloader .spinner {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('ajax-loader.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}

div.product-pagination {
    text-align:center;
}

.product-pagination a.nc {
    background: url('pagination.png') repeat-x scroll center top transparent;
    color: #999;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 28px;
    margin-right: 5px;
    text-align: center;
    width: 29px;
    border-radius: 3px;
}

.product-pagination a:hover {
    outline: 0 none !important;
    text-decoration: none !important;
    background-position: 0 -29px;   
}

.product-pagination a.current {
    background: url('pagination.png') repeat-x scroll center top transparent;
    background-position: 0 -58px;
    color: #fff;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 28px;
    margin-right: 5px;
    text-align: center;
    width: 29px;
    border-radius: 3px;
	color:#fff !important;
}
.realisaties .da-thumbs li a div {
background: none;
background-color: none;
color: none;
}
.realisaties .da-thumbs li a div span {display:none}
.nsb_container img {margin-right:56px !important}
.invalid {
   border: 2px solid red !important;
}
.da-thumbs-div {
    z-index: 100010;
}
.new_badge {
    border: 1px solid #9d9595;
    display: block;
    z-index: 100005;
    text-align: center;
    top: 85% !important;
    height: 15% !important;
    width: 40% !important;
}
.new_badge_title {
    padding-top: 5% !important;
    color: white !important;
    font-weight: bold;
}